# Ignore Visual Studio and Rider files
.vs/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignore Rider workspace files
*.iml
*.ipr
*.iws

# Ignore build artifacts
bin/
obj/
out/
*.exe
*.dll
*.pdb
*.cache
*.log
*.ilk
*.map
*.exp
*.idb
*.lib
*.ncb
*.sdf
*.ipch
*.aps
*.res
